$primary: #0e7fa0;
$primaryLight: #d1e4e9;
$secondary: #333;
$secondaryLight: rgb(238, 238, 238);

$blue: rgb(11, 117, 186);
$blueLight: rgb(33, 124, 185);
$blueLightOpacity:rgba(11, 117, 186, 0.3);
$white: #fff;
$grey: #ccc;
$greyLight: #f9f9f9;
$black: #333;
$blackLight: #777;
