.app-input {
  position: relative;

  .app-icon {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  label {
    position: absolute;
    top: 5px;
    left: 8px;
  }

  input {
    padding: 10px 10px 10px 40px;
    border: none;
    display: block;
    width: 100%;
    border-radius: 3px;
  }

  input:focus {
    outline: none;
  }
}
