.chat-box {
  position: fixed;
  right: 88px;
  bottom: 30px;
  height: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1000000000000;

  @import 'card';
}
.chat-box-card.maximized {
  width: calc(95vw - 120px) !important;
  height: calc(95vh - 145px) !important;
}
@media (max-width: 768px) {
  .chat-box-card.maximized {
    width: 100% !important;
    top: 80px;
  }
}
