@import 'variables';

@mixin theme-default {
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $secondary;

  input,
  button,
  textarea {
    font-size: $fontSize;
    font-family: $fontFamily;
  }

  .chat-box {
    right: 30px;
    bottom: 0px;
    @import 'activator';
    @import 'card';
    @import 'icon';
    @import 'input';
    @import 'message';
  }
}
